{% extends "base.html" %}

{% block title %} NoSurPRICEs{% endblock %}
	
{% block content %}
<div class="container">
	<div class="page-header">
	<div>
	<h1>
{% if angle %}
	The {{angle}} has been measured! 
{% endif %}	
		</h1>
		</div>
	<div>
	<h1>
{% if saved %}
	<img src="{{name}}" width="150" height="auto">
{% endif %}	
		</h1>
		<div>
		<form action="{{url_good}}">
		<input type="submit" value="Good detection" />
		</form>
		</div>
		<div>
		<form action="{{url_bad}}">
		<input type="submit" value="Bad detection" />
		</form>
		</div>		
		</div>		
	</div>
</div>
{% endblock %}