{% extends "base.html" %}

{% block title %} NoSurPRICEs{% endblock %}
	
{% block content %}
<div class="page_header" style="text-align:center">
	<h3 style="color:#73D300; font-size:50px;text-align:center"> Hurray, your luggage is {{airline}} approved!</h3>
	<img src="https://raw.githubusercontent.com/chronoclast/NoSurPRICEs/master/assets/suitcase-check-hires.png" width="250" height="auto">
	<p style="font-size:20px"> The allowed sizes for {{airline}} are <strong>{{airline_measurements}}</strong>. </p>
	<p style="font-size:20px"> Your luggage is <strong>{{your_measurements}}</strong> </p>
</div>
{% endblock %}	