{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} NoSurPRICEs{% endblock %}
	
{% block content %}
<div class="container" style="margin-left:50px">
	<div class="page-header" style="margin-left:50px">
		<div style="margin-left:50px">
			<h1>Please upload a picture of the <strong>{{angle}}</strong> of your luggage: </h1>
			<form method=post enctype=multipart/form-data>
			<p><input type=file name=file>
			<input type=submit value=Upload>
				</form>
			</div>	
				
			<div style="margin-left:50px">
				{% if saved %}
					<img src="{{path}}" width="150" height="auto">
					<form action="{{url}}">
					<input type="submit" value="Yep - That is my bag" />
					</form>
				{% else %}
					<p></p>
				{% endif %}	
				</div>
		</div>
	</div>
{% endblock %}	


